{% schema %}
  {
    "name": "Artikelsektion",
    "tag": "article",
    "class": "custom-article",
    "limit": 1,
    "presets": [
      {
        "name": "Artikelsektion"
      }
    ],
    "settings": [
      {
        "type": "select",
        "id": "hero_type",
        "label": "Hero-billede",
        "options": [
          {
            "value": "image",
            "label": "Billede"
          }, {
            "value": "video",
            "label": "Video"
          }
        ],
        "default": "image"
      }, {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Vælg billede"
      }, {
        "type": "url",
        "id": "hero_video_url",
        "label": "Video-URL"
      }, {
        "type": "text",
        "id": "hero_title",
        "label": "Rubrik"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Ny titel",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Ny titel"
          }
        ]
      },
      {
        "type": "h3",
        "name": "Underoverskrift",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Underoverskrift"
          }
        ]
      },
      {
        "type": "h4",
        "name": "Mellemoverskrift",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Mellemoverskrift"
          }
        ]
      },
      {
        "type": "paragraph",
        "name": "Paragraf",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Paragraf"
          }
        ]
      }, {
        "type": "pull_quote",
        "name": "Citatboks",
        "settings": [
          {
            "type": "text",
            "id": "quote",
            "label": "Citat"
          }
        ]
      }, {
        "type": "image",
        "name": "Billede",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Billede til artikel"
          }, {
            "type": "text",
            "id": "alt",
            "label": "Alternativ billedetekst"
          }, {
            "type": "select",
            "id": "image_size",
            "label": "Billedets størrelse",
            "options": [
              {
                "value": "large",
                "label": "Stor"
              }, {
                "value": "medium",
                "label": "Mellem"
              }, {
                "value": "small",
                "label": "Lille"
              }
            ],
            "default": "large"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  :root  {
    --col-50: clamp(0rem, -1.1364rem + 5.6818vw, 3.125rem);
    --col-100: clamp(0rem, -2.2727rem + 11.3636vw, 6.25rem);
    --img-article-pad: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
  }

  .article-wrapper {
    display: grid;
    grid-template-columns: [full-start] var(--col-100) [breakout-start] var(--col-100) [content-start] var(--col-50) [inner] 7fr var(--col-50) [content-end] var(--col-100) [breakout-end] var(--col-100) [full-end];
  }


  .article-hero {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
  }

  .article-hero img,
  .article-hero video {
    grid-column: breakout;
    width: 100%;
    height: auto;
    display: block;
    border-radus: 3rem;
  }

  .article-title {
    grid-column: inner;
    max-width: 70ch;
    margin: 2rem 0 1rem;
    font-size: 3.25rem;
    line-height: 1.2;
  }


  .article-content {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
  }

  .text-content,
  .article-paragraph {
    grid-column: inner;
    margin: 0 auto;
  }


  .article-image {
    display: block;
    margin-inline: auto;
    width: 100%;
    padding: var(--img-article-pad) 0;
  }

  .article-image--large {
    grid-column: full;
    max-width: 800px;
  }

  .article-image--medium {
    grid-column: content;
    max-width: 600px;
  }

  .article-image--small {
    grid-column: inner;
    max-width: 300px;
  }

  .pull-quote {
    grid-column: breakout;
    font-size: 2.5rem;
    font-style: italic;
    font-family: Georgia
    , 'Times New Roman'
    , Times
    , serif;
    position: relative;
    margin: 2rem 0;
    padding: 1.5rem;
    max-width: 40ch;
    line-height: 1.5;
  }

  .pull-quote::before {
    content: '“';
    font-size: 5rem;
    color: #999;
    position: absolute;
  }

  .pull-quote::before {
    top: 0;
    left: -1rem;
  }


{% endstylesheet %}

<div class="article-wrapper">
  {% if section.settings.hero_type == 'image' and section.settings.hero_image %}
    <div class="article-hero">
      <img src="{{ section.settings.hero_image | image_url: width: 2000 }}" alt="{{ section.settings.hero_image.alt | escape }}" />
    </div>
    {% if section.settings.hero_title != blank %}
      <h1 class="article-title">{{ section.settings.hero_title }}</h1>
    {% endif %}
  {% elsif section.settings.hero_type == 'video' and section.settings.hero_video_url %}
    <div class="article-hero">
      <video controls>
        <source src="{{ section.settings.hero_video_url }}" type="video/mp4" />
      </video>
    </div>
    {% if section.settings.hero_title != blank %}
      <h1 class="article-title">{{ section.settings.hero_title }}</h1>
    {% endif %}
  {% endif %}


  <div class="article-content">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'heading' %}
          <h2 class="text-content">{{ block.settings.heading }}</h2>
        {% when 'h3' %}
          <h3 class="text-content">{{ block.settings.heading }}</h3>
        {% when 'h4' %}
          <h4 class="text-content">{{ block.settings.heading }}</h4>
        {% when 'paragraph' %}
          <p class="article-paragraph text-content">{{ block.settings.text }}</p>
        {% when 'pull_quote' %}
          <blockquote class="pull-quote">
            {{ block.settings.quote }}
          </blockquote>

        {% when 'image' %}
          <img
        class="article-image article-image--{{ block.settings.image_size }}"
        src="{{ block.settings.image | image_url: width: 1200 }}"
        alt="{{ block.settings.alt | escape }}" />
      {% endcase %}
    {% endfor %}
  </div>
</div>