{% schema %}
  {
    "name": "Artikelsektion",
    "tag": "article",
    "class": "custom-article",
    "limit": 1,
    "presets": [
      {
        "name": "Artikelsektion"
      }
    ],
    "settings": [
      {
        "type": "select",
        "id": "hero_type",
        "label": "Hero-billede",
        "options": [
          {
            "value": "image",
            "label": "Billede"
          }, {
            "value": "video",
            "label": "Video"
          }
        ],
        "default": "image"
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Vælg billede"
      },
      {
        "type": "url",
        "id": "hero_video_url",
        "label": "Video-URL"
      },
      {
        "type": "text",
        "id": "hero_title",
        "label": "Rubrik"
      }, {
        "type": "select",
        "id": "image_title_position",
        "label": "Image title position",
        "options": [
          {
            "value": "overlay",
            "label": "Overlay on image"
          }, {
            "value": "below",
            "label": "Below image"
          }
        ],
        "default": "overlay"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Ny titel",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Ny titel"
          }
        ]
      },
      {
        "type": "h3",
        "name": "H3 - Underoverskrift",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Underoverskrift"
          }
        ]
      },
      {
        "type": "h4",
        "name": "H4 - Mellemoverskrift",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Mellemoverskrift"
          }
        ]
      },
      {
        "type": "paragraph",
        "name": "Paragraf",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Paragraf"
          }
        ]
      }, {
        "type": "image",
        "name": "Billede",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Billede til artikel"
          }, {
            "type": "text",
            "id": "alt",
            "label": "Alternativ billedetekst"
          }, {
            "type": "select",
            "id": "image_size",
            "label": "Billedets størrelse",
            "options": [
              {
                "value": "large",
                "label": "Stor"
              }, {
                "value": "medium",
                "label": "Mellem"
              }, {
                "value": "small",
                "label": "Lille"
              }
            ],
            "default": "large"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}

  .article-hero > * {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;
  }

  .hero-title-overlay {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
  }

  .article-body {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    > * {
      margin: 0 auto;

    }
  }

  .article-image {
    display: block;
    margin: 2rem auto;
  }

  /* reminder to myself to use utopia here: */
  .article-image--large {
    max-width: 800px;
  }

  .article-image--medium {
    max-width: 600px;
  }

  .article-image--small {
    max-width: 300px;
  }

  .article-paragraph {
    max-width: 70ch;
    margin: 1rem auto;
  }

{% endstylesheet %}

<div class="article-wrapper">
  {% if section.settings.hero_type == 'image' and section.settings.hero_image %}
    <div class="article-hero">
      <img src="{{ section.settings.hero_image | image_url: width: 2000 }}" alt="{{ section.settings.hero_image.alt | escape }}" />

      {% if section.settings.image_title_position == 'overlay' %}
        <h1 class="hero-title-overlay">{{ section.settings.hero_title }}</h1>
      {% endif %}
    </div>
    {% if section.settings.image_title_position == 'below' %}
      <h1>{{ section.settings.hero_title }}</h1>
    {% endif %}

  {% elsif section.settings.hero_type == 'video' and section.settings.hero_video_url %}
    <div class="wrapper">
      <video controls="controls">
        <source src="{{ section.settings.hero_video_url }}" type="video/mp4">

      </video>
    </div>
    {% if section.settings.hero_title != blank %}
      <h1>{{ section.settings.hero_title }}</h1>
    {% endif %}

  {% endif %}

  <section class="article-body">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'heading' %}
          <h2>{{ block.settings.heading }}</h2>
        {% when 'h3' %}
          <h3>{{ block.settings.heading }}</h3>
        {% when 'h4' %}
          <h4>{{ block.settings.heading }}</h4>
        {% when 'paragraph' %}
          <p class="article-paragraph">{{ block.settings.text }}</p>
        {% when 'image' %}
          {% assign image_size = block.settings.image_size %}
          <img
        class="article-image article-image--{{ image_size }}"
        src="{{ block.settings.image | image_url: width: 1200 }}"
        alt="{{ block.settings.alt | escape }}" />
      {% endcase %}
    {% endfor %}
  </section>
</div>