{% comment %} 

                    LINK TO OFFICIAL DOCS HERE:

                    Overall docs relevant to us: 
                    https://shopify.dev/docs/storefronts/themes/architecture/

                    Input settings:
                    https://shopify.dev/docs/storefronts/themes/architecture/settings/input-settings

                    Sections and blocks:
                    https://help.shopify.com/en/manual/online-store/themes/theme-structure/sections-and-blocks

                    Schema is the part of the code that will be visible in the theme-editor. 

                    The name sets the name that will present in the sections-list. 

                    Settings are the fields that the user can customize in the theme editor. There is more information in the link on the top of this comment.
                     
 {% endcomment %}
{% schema %}
  {
    "name": "hero-sektion",
    "tag": "section",
    "class": "hero-banner",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Baggrundsbillede"
      },
      {
        "type": "checkbox",
        "id": "enable_scroll_effect",
        "label": "Aktiver scroll-effekt",
        "default": true
      },
      {
        "type": "select",
        "id": "hero_height",
        "label": "Sektionstørrelse",
        "default": "100vh",
        "options": [
          {
            "value": "50vh",
            "label": "50% af skærmstørrelse"
          }, {
            "value": "75vh",
            "label": "75% af skærmstørrelse"
          }, {
            "value": "100vh",
            "label": "100% af skærmstørrelse"
          }, {
            "value": "auto",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Titel",
        "default": "Velkommen til"
      }, {
        "type": "color",
        "id": "title_color",
        "label": "Titel farve",
        "default": "#ffffff"
      }, {
        "type": "select",
        "id": "text_alignment",
        "label": "Tekst placering",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Venstre"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Højre"
          }
        ]
      }, {
        "type": "select",
        "id": "content_position",
        "label": "Indholdets placering",
        "default": "middle-center",
        "options": [
          {
            "value": "top-left",
            "label": "Top venstre"
          },
          {
            "value": "top-center",
            "label": "Top center"
          },
          {
            "value": "top-right",
            "label": "Top højre"
          },
          {
            "value": "middle-left",
            "label": "Midten venstre"
          }, {
            "value": "middle-center",
            "label": "Midten center"
          }, {
            "value": "middle-right",
            "label": "Midten højre"
          }, {
            "value": "bottom-left",
            "label": "Bund venstre"
          }, {
            "value": "bottom-center",
            "label": "Bund center"
          }, {
            "value": "bottom-right",
            "label": "Bund højre"
          }
        ]
      }, {
        "type": "header",
        "content": "t:sections.image-banner.settings.mobile.content"
      }, {
        "type": "select",
        "id": "mobile_content_alignment",
        "label": "center",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "top"
          }, {
            "value": "center",
            "label": "center"
          }, {
            "value": "bottom",
            "label": "bottom"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "button",
        "name": "Knap",
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "Knaptekst",
            "default": "Klik her"
          }, {
            "type": "url",
            "id": "link",
            "label": "Knap link"
          }, {
            "type": "color",
            "id": "button_bg_color",
            "label": "Knap baggrundsfarve",
            "default": "#ffffff"
          }, {
            "type": "color",
            "id": "button_text_color",
            "label": "Knap tekstfarve",
            "default": "#000000"
          }
        ]
      }
    ],
    "max_blocks": 2,
    "presets": [
      {
        "name": "hero-sektion"
      }
    ]
  }
{% endschema %}


{% liquid

  if section.index == 1
    assign fetch_priority = 'high'
  endif
%}

<section class="hero-banner-section {% if section.settings.enable_scroll_effect %}parallax-bg{% endif %}" style="background-image: url({{ section.settings.background_image | image_url: width: 2000 }});">
  <div class="hero-overlay position-{{ section.settings.content_position}} mobile-position-{{ section.settings.mobile_content_alignment }}">

    <div class="hero-content">
      <h1 style="color: {{ section.settings.title_color }};">{{ section.settings.heading }}</h1>
      {% if section.blocks.size > 0 %}
        <div class="button-wrapper">
          {% for block in section.blocks %}
            {% if block.type == 'button' and block.settings.label != blank and block.settings.link != blank %}
              <a
                href="{{ block.settings.link }}"
                style="background-color: {{ block.settings.button_bg_color }}; color: {{ block.settings.button_text_color }};"
                class="cta-button">{{ block.settings.label }}</a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </div>
</section>

<style>
  .hero-banner-section {
    position: relative;
    height: {{ section.settings.hero_height }};
    /* This adapts the chosen height of the section */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed; // for scroll effect
  }


  /* inspiration from the default image-banner.liquid section */
  @media screen and (min-width: 750px) {
    .hero-content {
      padding: 5rem;
      width: auto;
      max-width: 71rem;
      min-width: 45rem;
    }
    .hero-overlay {
      padding: 5rem;
    }
  }

  /* Desktop content placement */
  .hero-overlay {
    display: grid;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  .hero-overlay.position-top-left {
    place-content: start start;
  }
  .hero-overlay.position-top-center {
    place-content: start center;
  }
  .hero-overlay.position-top-right {
    place-content: start end;
  }
  .hero-overlay.position-middle-left {
    place-content: center start;
  }
  .hero-overlay.position-middle-center {
    place-content: center center;
  }
  .hero-overlay.position-middle-right {
    place-content: center end;
  }
  .hero-overlay.position-bottom-left {
    place-content: end start;
  }
  .hero-overlay.position-bottom-center {
    place-content: end center;
  }
  .hero-overlay.position-bottom-right {
    place-content: end end;
  }

  /* Mobile content placement  */
  @media screen and (max-width: 749px) {
    /* Disables animation effect of background image in mobile view */
    .hero-banner-section {
      background-attachment: scroll;
    }
    .hero-overlay.mobile-position-top {
      place-content: start center;
    }
    .hero-overlay.mobile-position-center {
      place-content: center center;
    }
    .hero-overlay.mobile-position-bottom {
      place-content: end center;
    }
  }

  .hero-content {
    color: white;
    text-align: {{ section.settings.text_alignment }};
    padding: 20px;
  }

  .hero-content h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    /*  2rem to 3rem */
    max-width: 762px;
    width: 100%;
    margin-bottom: clamp(1.125rem, 0.8207rem + 1.5217vw, 2rem);
  }

  /* Button styling */
  .button-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    max-width: 762px;
    margin: 0 auto;
  }

  .cta-button {
    flex: 1 1 auto;
    max-width: 258px;


    /*
   background-color: #ffffff;
   color: #000000;
*/
    padding: 1rem 2rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  .cta-button:hover {
    background-color: #e0e0e0;
  }

  /* center buttons vertically on small screens */
  @media (max-width: 600px) {
    .button-wrapper {
      align-items: center;
      gap: 2rem;
    }
  }

</style>